@tailwind base;
@tailwind components;
@tailwind utilities;

.clamp-text {
  display: -webkit-box;
  -webkit-line-clamp: 8; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
